@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}
::-webkit-scrollbar:horizontal {
  height: 5px; /* height of the horizontal scrollbar */
}
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background: rgb(59, 130, 246); /* color of the scrollbar thumb */
  border-radius:30px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 10, 246) /* color of the scrollbar thumb on hover */
}
body{
  @apply font-body
}